<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body class="gradient">
    <div class="back">
        <h2><a href="./" style="text-decoration:none ; color:rgb(26, 68, 147) ;">Back to Homepage</a></h2>
    </div>
    
    <div class="head">
        <center>
            <h2>About Us</h2>
        </center>
    </div>

    <div class="about">
        <p><h2>ApplianceDex is a website that allows users to compare home <br>appliances and rates them to determine its eco-friendliness. </h2></p>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="head">
        <center>
            <h2>Rating Scale</h2>
        </center>
    </div>

    <div class="about">
        <p><h2>Our rating system implements AI to do its thorough research and information gathering on how eco friendly a product is. We also demonstrate and show the energy consumptions and statistics of the inputted model number.</h2></p>
    </div>
    <div class="scale">
        <img src="/terrahacks/static/images/scale.jpg" alt="Image of the Rating Scale Used">
    </div>
    <br><br><br><br><br><br><br>
</body>
</html>