<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApplianceDex</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body background="/terrahacks/static/images/bg.webp">
    <br><br><br>
    <div class="logo">
        <img src="{{ url_for('static', filename='/terrahacks/static/images/bg2.png') }}" alt="Image of ApplianceDex" width="600px">
        <br>
    </div>
    <br><br><br>
    <form action="/process-data" class="search-bar" method="post">
        <div>
            <span class="material-symbols-outlined">search</span>
            <input id="search-input" type="search" name="in" placeholder="Enter Appliance Model #">
            <button type="submit">Search</button>
        </div>
    </form>
    <br>
    <div class="label">
        <label>Choose an Appliance:</label>
        <select name="appliances" id="appliances">
            <option value="dehumidifier">Dehumidifier</option>
            <option value="rcd">Residential Clothes Dryer</option>
            <option value="rcw">Residential Clothes Washer</option>
            <option value="os">Oven/Stove</option>
            <option value="dishwasher">Dishwasher</option>
            <option value="ac">Air Conditioner</option>
            <option value="toaster">Toaster</option>
            <option value="cm">Coffee Maker</option>
          </select>
    </div>

    <div class="about-page">
        <h1><a href="/about" style="text-decoration:none ; color: darkolivegreen;">About Us</a></h1>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>