<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body class="gradient">
    <form action="/process-data" class="search-bar" method="post">
      <div>
          <span class="material-symbols-outlined">search</span>
          <input id="search-input" type="search" name="in" placeholder="Enter Appliance Model #">
          <button type="submit">Search</button>
      </div>
    </form>
    <br>
    <div class="label">
        <label>Choose an Appliance:</label>
        <select name="appliances" id="appliances">
            <option value="dehumidifier">Dehumidifier</option>
            <option value="rcd">Residential Clothes Dryer</option>
            <option value="rcw">Residential Clothes Washer</option>
            <option value="os">Oven/Stove</option>
            <option value="dishwasher">Dishwasher</option>
            <option value="ac">Air Conditioner</option>
            <option value="toaster">Toaster</option>
            <option value="cm">Coffee Maker</option>
          </select>
    </div>

    <div class="back2">
        <h2>
          <a href="./" 
          style="text-decoration:none ; color:rgb(26, 68, 147) ;">Back to Homepage</a>
        </h2>
        <br>
    </div>

    <div class="twoColumns">
        <div class="left">
          <img src="/terrahacks/images/logo.png" class="responsive">
        </div>
        <div class="right">
          <h2>{{FridgeModel}}</h2>
          <h2>{{ProductDescription}}</h2>
          <h2></h2>
        </div>
      </div>

    <br><br><br><br>
</body>
</html>